.adaptive-gallery {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: 1330px) {
    max-width: 24.375rem;
  }
  @media (max-width: 425px) {
    max-width: 21.25rem;
  }

  &__wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    transition: transform .3s ease-in-out;

    &_grid {
      flex-wrap: wrap;
  
      @media (min-width: 1331px) {
        width: calc(100% + .9375rem);
        margin-right: -0.9375rem;
      }
      @media (max-width: 1330px) {
        flex-wrap: nowrap;
      }
    }

  }
  &__item {
    display: inline-block;
    margin-right: .9375rem;
    
    &_grid {
      margin-bottom: .9375rem;
    }

    @media (max-width: 1330px) {
      margin-bottom: 0;
      margin-right: .93rem;
      flex-shrink: 0;
    }
    @media (max-width: 425px) {
      max-width: 21.25rem;

      &_row {
        max-width: none;
      }
    }
  }
  &__buttons {
    top: 50%;
    left: 1rem;
    right: 1rem;
    transform: translateY(-50%);
    position: absolute;
    pointer-events: none;
    user-select: none;
    display: flex;
    justify-content: space-between;

    &_top {
      top: 28%;
      transform: none;
    }
  }
  &__button {
    pointer-events: all;
    transition: opacity .15s;

    &.inactive {
      opacity: .3;
      pointer-events: none;
    }
    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
  
  @media (min-width: 1331px) {
    &_grid {
      overflow: visible;
    }
    &_grid & {
      &__buttons {
        display: none;
      }
    }
    &_center & {
      &__wrap {
        justify-content: center;
      }
      &__item {
        margin-right: 1.125rem;
  
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}