.benefit-small {
  display: flex;
  align-items: center;
  justify-self: flex-start;

  &__icon {
    margin-right: 1.063rem;

    @media (max-width: 445px) {
      width: 2.5rem;
      height: auto;
      margin-right: .8rem;
    }
  }
  &__descr {
    line-height: 1.5;
    letter-spacing: .02em;
    color: #fff;
  }

  &_wide & {
    &__icon {
      margin-right: 1.25rem;
    }
    &__descr {
      line-height: 1.35;
    }
  }
}

.benefit-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.25rem;
  min-width: 3.25rem;
  height: 3.25rem;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  user-select: none;
}