.calculate-appeal {
  display: flex;
  color: #fff;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: .02em;
  transition: color .2s;

  &__icon {
    width: 1.375rem;
    height: 1.375rem;
    transition: transform .2s, opacity .2s;
  }
  &__text {
    position: relative;
    top: .063rem;
  }
  &__icon + &__text {
    margin-left: 0.75rem;
  }
  &__text + &__icon {
    margin-left: 1rem;
  }

  &:hover, &:focus {
    color: $white-hover-bold;
  }
  &:hover &, &:focus & {
    &__icon {
      opacity: .9;
      transform: scale(.9);
    }
  }
}