.container-size {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1330px) {
    width: auto;
    margin-left: 4.0625rem;
    margin-right: 4.0625rem;
  }
  @media (max-width: 760px) {
    margin-left: 2.8vw;
    margin-right: 2.8vw;
  }
  @media (max-width: 360px) {
    margin-left: .625rem;
    margin-right: .625rem;
  }
}