.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  overflow: hidden;

  &__block {
    border-bottom: .063rem rgba(255, 255, 255, .2) solid;
  }
}
.header-top {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo-block {
    @media (max-width: 425px) {
      width: 100%;
    }
  }
  &__payment-block {
    @media (max-width: 1330px) {
      display: none;
    }
  }
  &__payment-text {
    max-width: 19.5rem;
  }
  &__messengers-block {
    margin-right: 3.125rem;

    @media (max-width: 910px) {
      display: none;
    }
  }
  &__phone-block {
    @media (max-width: 645px) {
      display: none;
    }
  }
}
.header-family-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-menu {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__contacts {
    display: flex;
    align-items: center;

    @media (min-width: 911px) {
      display: none;
    }
  }
  &__phone {
    margin-left: 1.25rem;

    @media (min-width: 646px) {
      display: none;
    }
    @media (max-width: 425px) {
      margin-left: .875rem;
    }
  }
  &__calculate-appeal {
    @media (max-width: 910px) {
      display: none;
    }
  }
  &__links {
    display: flex;

    > li {
      margin-right: 2.5rem;

      > a {
        color: rgba(255, 255, 255, .6);
        font-size: 1.125rem;
        line-height: 1.07;
        letter-spacing: .02em;
        @extend .not-link-style;
        @extend .click-extender;
        transition: color .2s;

        &:hover, &:focus {
          color: #fff;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @media (max-width: 1330px) {
      display: none;
    }
  }
  &__mobile-button {
    @media (min-width: 1331px) {
      display: none;
    }
  }
}