.hello-section {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--header-height);
  background-color: #444;

  &__wrap {
    position: relative;
  }
  &__container-wrap {
    position: relative;
  }
  &__container {
    padding-top: 5.63rem;
    padding-bottom: 9.37rem;

    @media (max-width: 760px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 16rem;
    }
    @media (max-width: 625px) {
      padding-top: 14.4vw;
    }
    @media (max-width: 359px) {
      padding-top: 12vw;
    }
  }
  &__title {
    font-size: 2.875rem;
    line-height: 1.53;
    font-weight: 500;
    color: #fff;
    letter-spacing: .02em;
    max-width: 50rem;
    margin-bottom: 1.69rem;

    @media (max-width: 760px) {
      text-align: center;
      max-width: none;
    }
    @media (max-width: 638px) {
      font-size: 7.2vw;
    }
    @media (max-width: 361px) {
      font-size: 1.625rem;
    }
  }
  &__descr {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 3.83rem;
    max-width: 38.2rem;
    letter-spacing: .02em;

    @media (max-width: 760px) {
      text-align: center;
      max-width: none;
    }
    @media (max-width: 638px) {
      font-size: 3.7vw;
    }
    @media (max-width: 487px) {
      font-size: 1.125rem;
    }
    @media (max-width: 425px) {
      margin-bottom: 2.63rem;
    }
  }
  &__accent-button {
    margin-right: 1.63rem;

    @media (max-width: 907px) {
      margin-bottom: .9375rem;
    }
    @media (max-width: 760px) {
      margin-right: 0;
    }
  }
}

.hello-tractor {
  position: absolute;
  top: 2.875rem;
  left: 0;
  right: 0;
  bottom: -3.7rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  &__wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: var(--image-height);
    transform: translateY(11rem);
  }
  &__container {
    display: flex;
    justify-content: flex-end;
    padding-top: 5.63rem;

    @media (max-width: 1330px) {
      display: none;
    }
  }
  &__image-wrap {
    position: relative;
    right: -3.3rem;
    pointer-events: none;
    user-select: none;

    @media (max-width: 1785px) {
      right: var(--right, -1000vw);
    }
    @media (max-width: 760px) {
      right: auto;
      left: 2rem;
      height: 18rem;
    }
  }
  &__image {
    @media (max-width: 760px) {
      height: 100%;
    }
  }

  @media (max-width: 760px) {
    justify-content: center;
    bottom: -3.5rem;
  }
}

.hello-tractor-message {
  background-color: #fff;
  border-radius: .3125rem;
  overflow: hidden;
  position: relative;

  &__background-shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
  }
  &__background-clock {
    position: absolute;
    top: .25rem;
    left: -1.25rem;
    bottom: .188rem;
  }
  &__content {
    position: relative;
    max-width: 10.5rem;
    box-sizing: content-box;
    padding-top: .875rem;
    padding-bottom: .875rem;
    padding-left: 5.31rem;
    padding-right: 4.25rem;
    font-size: 1.125rem;
    line-height: 1.34;
    letter-spacing: .02em;
  }
}