.inner-page {
  &__container {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;

    @media (max-width: 1000px) {
      padding-top: 3.125rem;
      padding-bottom: 3.125rem;
    }
  }
  &__title {
    margin-bottom: 1.875rem;

    @media (max-width: 1000px) {
      margin-bottom: 1.5625rem;
    }
  }
  &__content {
    max-width: 37.5rem;
  }
}