.logo {
  display: inline-block;
}

.logo-and-descr {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__logo-wrap {
    margin-right: 1.25rem;
  }
  &__site-descr {
    max-width: 11.875rem;
  }

  @media (max-width: 425px) {
    justify-content: space-between;
  }
}

.site-descr {
  line-height: 1.5;
  letter-spacing: .02em;
  color: #fff;

  &_dim {
    color: rgba(255, 255, 255, .6);
  }
}