.main-text-section {
  padding-top: 6rem;
  padding-bottom: 6.5rem;

  &__title {
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 1.25rem;
    font-weight: 700;
  }
  &__text {
    font-size: .875rem;
    line-height: 1.5;
  }

  @media (max-width: 1000px) {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}