.messengers {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__item {
    margin-right: .937rem;

    @media (max-width: 425px) {
      margin-right: .375rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }
  &__icon {
    transition: transform .2s;

    &_small {
      height: 1.56rem;
      width: auto;
    }

    @media (max-width: 425px) {
      height: 1.375rem;
    }
  }
  &__link {
    &:hover, &:focus {
      .messengers__icon {
        transform: scale(.85);
      }
    }
  }
}