.other-companies {
  background-repeat: no-repeat;
  background-size: cover;
  
  &__container {
    position: relative;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;

    @media (max-width: 425px) {
      padding-top: 3.75rem;
      padding-bottom: 4.1875rem;
    }
  }
  &__title {
    @media (max-width: 1000px) {
      text-align: center;
    }
  }
  &__content {
    display: flex;
    align-items: flex-start;

    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__left-side {
    @media (max-width: 1240px) {
      padding-right: 1rem;
    }
    @media (max-width: 1000px) {
      padding-right: 0;
      padding-bottom: 10rem;
    }
  }
  &__right-side {
    @media (max-width: 1000px) {
      position: relative;
    }
  }
  &__background {
    position: absolute;
    left: -5.3rem;
    bottom: -5.23rem;
    pointer-events: none;
    user-select: none;

    @media (max-width: 1370px) {
      bottom: -6rem;
    }
    @media (max-width: 1140px) {
      height: 18rem;
      bottom: -3rem;

      img {
        height: 100%;
        width: auto;
      }
    }
    @media (max-width: 1000px) {
      height: 10rem;
      top: -8.125rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.other-companies-problems {
  padding-top: 2.7rem;
  padding-bottom: 3.31rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  background-color: #fff;
  border-radius: .625rem;

  &__list {
    margin-bottom: 1.5rem;
  }
  &__item {
    font-size: 1.125rem;
    line-height: 2;
    letter-spacing: .02em;
    display: flex;
    align-items: center;

    @media (max-width: 1313px) {
      line-height: 1.2;
      margin-bottom: 1rem;
    }
  }
  &__icon {
    margin-right: .875rem;
    width: 1.375rem;
    height: auto;
  }

  @media (max-width: 1313px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media (max-width: 1000px) {
    max-width: 35rem;
  }
  @media (max-width: 425px) {
    padding-left: 1rem;
    padding-right: .91rem;
    padding-bottom: 2.5rem;
  }
}
.other-companies-our-experience {
  padding-left: 1.81rem;
  padding-right: 1.4rem;
  padding-top: 1.3rem;
  padding-bottom: 1.15rem;
  background-color: $accent-color;
  border-radius: .625rem;
  position: relative;
  
  &__arrow {
    position: absolute;
    left: 1.375rem;
    top: -.45rem;
    background-color: $accent-color;
    width: 2.125rem;
    height: 2.125rem;
    border-radius: .6rem;
    transform: rotate(45deg);
  }
  &__content {
    position: relative;
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.44;
    letter-spacing: .06em;

    @media (max-width: 425px) {
      font-size: 1rem;
    }
  }
}