.phone {
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: .02em;
  line-height: 1;
  transition: color .2s;

  &__icon {
    position: relative;
    bottom: .187rem;
    margin-right: .5rem;
    transition: transform .2s, opacity .2s;
  }

  &:hover, &:focus {
    color: $white-hover;
  }
  &:hover &, &:focus & {
    &__icon {
      opacity: .95;
      transform: rotate(-13deg);
    }
  }

  &_big-text {
    font-size: 1.375rem;
  }
  &_big-text & {
    &__icon {
      bottom: .15rem;
    }
  }
  &_small-text {
    font-size: 1.0625rem;
  }
  &_small-text & {
    &__icon {
      height: .75rem;
      bottom: .1rem;
      margin-right: .25rem;
    }
  }

  &_black {
    color: #000;

    &:hover, &:focus {
      color: rgba($color: #000, $alpha: .8);

      .phone__icon:not(.phone-icon_red) {
        opacity: .7;
      }
    }
  }
  
  &_black & {
    &__icon:not(.phone-icon_red) {
      filter: invert(1);
    }
  }
}
.phone-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__link-wrap {
    margin-bottom: 0.5rem;
  }
  &__link {
    display: block;
  }
  &__time {
    font-size: 1rem;
    letter-spacing: .02em;
    line-height: 1.25;

    &_yellow {
      color: #68f846;
    }
    &_black-yellow {
      color: #4acf2b;
    }
    &_small {
      font-size: .875rem;
    }
  }
}