.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  opacity: 1;
  transition: opacity .3s;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
}