.product-header {
  margin-top: 2.625rem;
  margin-bottom: 2.625rem;

  &__bread-crumbs {
    margin-bottom: 1.1875rem;
  }
  &__title {
    line-height: 1;

    @media (max-width: 786px) {
      line-height: 1.2;
    }
  }

  @media (max-width: 756px) {
    margin-bottom: 5.55vw;
  }
  @media (max-width: 360px) {
    margin-bottom: 1.25rem;
  }
}

.product-overview {
  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: 1330px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__gallery, &__gallery-image {
    width: 39.7rem;
    height: 30.4rem;

    @media (max-width: 672px) {
      width: 94.44vw;
      height: 66.66vw;
    }
    @media (max-width: 360px) {
      width: 21.25rem;
      height: 15rem;
    }
  }
  &__gallery {
    overflow: hidden;
    border-radius: .625rem;
    margin-right: 4.3125rem;
    flex-shrink: 0;

    @media (max-width: 1330px) {
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
  }
  &__gallery-image {
    position: relative;
    overflow: hidden;
  }
  &__info {
    padding-top: .75rem;

    @media (max-width: 580px) {
      
    }
  }
  &__price-block {
    font-size: 1.125rem;
    color: rgba($color: #000, $alpha: .6);
    letter-spacing: .02em;
    line-height: 1.2;
    margin-bottom: 1.25rem;
  }
  &__price {
    font-size: 1.5rem;
    color: #000;
    font-weight: 600;
    line-height: 1.08;
  }
  &__price-label {
    margin-right: 1.25rem;

    @media (max-width: 425px) {
      display: none;
    }
  }
  &__descr {
    line-height: 1.2;

    @media (max-width: 1330px) {
      max-width: 35rem;
    }
  }
  &__hr {
    margin-top: 1.75rem;
    margin-bottom: 1.5rem;
    border: none;
    border-bottom: .0625rem solid rgba($color: #000, $alpha: .1);
  }
  &__contacts {

  }
}

.contacts-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: .02em;

  &__text {
    font-size: .875rem;
    line-height: 1.2;
    font-weight: 600;
    max-width: 8.75rem;

    @media (max-width: 580px) {
      min-width: 100%;
      text-align: center;
      margin-bottom: 1.25rem;
    }
  }
  &__phone {
    white-space: nowrap;
  }

  @media (max-width: 580px) {
    flex-wrap: wrap;
    max-width: 21.25rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-info {
  padding-top: 2.5625rem;

  &__container {
    display: flex;
    align-items: stretch;
    justify-content: center;

    &.without-descr {
      justify-content: flex-start;
    }

    @media (max-width: 1330px) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__block {
    padding-top: 2.3125rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-bottom: 2.625rem;
    background-color: #f6f6f6;
    border-radius: .625rem;
    width: 49%;
    margin-right: 1.5%;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 1330px) {
      margin-right: 0;
      width: 100%;
      max-width: 35rem;
      margin-bottom: 1.25rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
    @media (max-width: 580px) {
      padding-top: 1.9375rem;
      padding-left: 1.875rem;
      padding-right: 1.875rem;
      padding-bottom: 1.5rem;
    }
  }
  &__title {
    font-size: 1.25rem;
    letter-spacing: .02em;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 1.425rem;

    &_near {
      margin-bottom: 1rem;
    }
  }
  &__descr-content {
    color: rgba($color: #000, $alpha: .6);
    line-height: 1.375;
  }
}

.product-specifications {
  &__item {
    padding-top: .6875rem;
    padding-bottom: .6875rem;
    line-height: 1.2;

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.half-width {
  width: 48.5%;
  margin-right: 2%;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 580px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: .75rem;
    max-width: 25rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product-gallery {
  &__buttons {
    left: 1.875rem;
    right: 3.75rem;
  }
}

.product-form {
  &__title {
    font-size: 1.25rem;
    line-height: 1.2;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-weight: 700;

    @media (max-width: 580px) {
      margin-bottom: .5rem;
    }
  }
  &__descr {
    font-size: .9375rem;
    line-height: 1.2;
    margin-bottom: 1.5625rem;
  }
  &__input {
    padding-left: 2.1rem;
    padding-right: 2.1rem;
  }
  &__fields {
    margin-bottom: 1.625rem;

    @media (max-width: 580px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      margin-bottom: 1.125rem;
    }
  }

  @media (max-width: 580px) and (min-width: 421px) {
    text-align: center;

    > .privacy-policy-text {
      text-align: center;
    }
  }
  @media (max-width: 580px) {
    > .privacy-policy-text {
      color: rgba($color: #000, $alpha: .6);
    }
  }
}