.quiz-section {
  padding-top: 11.25rem;
  padding-bottom: 6.25rem;

  &__message {
    text-align: center;
    margin-bottom: 1.1rem;
  }
  &__title {
    margin-bottom: 1.55rem;
  }
  &__descr {
    margin-bottom: 3.5rem;
  }
}

.quiz-message {
  display: inline-block;
  padding-top: .75rem;
  padding-left: 2.56rem;
  padding-bottom: .63rem;
  padding-right: 2.56rem;
  background-color: $accent-color;
  border-radius: .312rem;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .02em;
}