.quiz-section {
  padding-top: 11.25rem;
  padding-bottom: 6.25rem;

  &__message {
    text-align: center;
    margin-bottom: 1.1rem;

    @media (max-width: 1000px) {
      margin-bottom: 1.625rem;
    }
  }
  &__title {
    margin-bottom: 1.55rem;

    @media (max-width: 1000px) {
      margin-bottom: 1.25rem;
    }
  }
  &__descr {
    margin-bottom: 3.5rem;

    @media (max-width: 1000px) {
      margin-bottom: 1.9375rem;
    }
  }

  @media (max-width: 900px) {
    padding-bottom: 4.375rem;
  }
  @media (max-width: 760px) {
    padding-top: 7.75rem;
  }
}

.quiz-message {
  display: inline-block;
  padding-top: .75rem;
  padding-left: 2.56rem;
  padding-bottom: .63rem;
  padding-right: 2.56rem;
  background-color: $accent-color;
  border-radius: .312rem;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .02em;

  @media (max-width: 700px) {
    font-size: 1rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}