.reviews-section {
  padding-top: 11.4rem;
  padding-bottom: 6.25rem - 1.5rem;

  &__title {
    margin-bottom: 1.63rem;
  }
  &__descr {
    margin-bottom: 3.5rem;

    @media (max-width: 1000px) {
      margin-bottom: 2.1875rem;
    }
  }

  &_inner-top-padding {
    padding-top: 4.8125rem;
  }

  @media (max-width: 1000px) {
    padding-top: 8.875rem;
    padding-bottom: 4rem;

    &_inner-top-padding {
      padding-top: 3.625rem;
    }
  }
}

.review {
  width: 24.37rem;
  margin-bottom: 1.5rem;
  
  &__video {
    margin-bottom: 1.69rem;
  }
  &__title {
    display: block;
    font-size: 1.125rem;
    line-height: 1.25;
    padding-right: 1.7rem;
    letter-spacing: .02em;
    margin-bottom: .8rem;
  }

  @media (max-width: 1330px) {
    margin-bottom: 0;
  }
  @media (max-width: 450px) {
    width: 21.25rem;
  }
}

.review-date {
  font-size: .875rem;
  letter-spacing: .02em;
  color: rgba($color: #000, $alpha: .6);
  display: flex;
  align-items: center;

  &__icon {
    margin-right: .6rem;
  }
}