.steps-to-get-section {
  padding-top: 5.19rem;
  padding-bottom: 6.25rem;
  background-color: #f7f7f7;

  &__title {
    margin-bottom: 1.63rem;
  }
  &__descr {
    margin-bottom: 3.25rem;
  }
  &__steps {
    margin-bottom: 1.5625rem;

    @media (max-width: 1330px) {
      width: 21.25rem;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 480px) {
      width: 21.25rem;
    }
  }
  &__call-to-us {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1000px) {
      flex-direction: column;
      max-width: max-content;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__call-method {
    margin-right: 3.125rem;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 1000px) {
      margin-right: 0;
    }
  }
  &__call-button {
    @media (max-width: 1000px) {
      margin-bottom: 1.75rem;
    }
    @media (max-width: 425px) {
      width: 100%;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;

    @media (max-width: 1000px) {
      width: 100%;
      justify-content: space-between;
    }
  }
  &__big-button-arrow {
    @media (max-width: 425px) {
      display: none;
    }
  }

  @media (max-width: 1000px) {
    padding-top: 3.75rem;
    padding-bottom: 4rem;
  }
  @media (max-width: 425px) {
    .big-button {
      width: 100%;
    }
  }
}

.step-to-get {
  position: relative;
  padding-top: 1.625rem;
  max-width: 18.125rem;

  &__wrap {
    position: relative;
    background-color: #fff;
    border: .0625rem solid #e8e8e8;
    border-radius: .625rem;
  }
  &__order-wrap {
    position: absolute;
    left: 50%;
    top: -1.625rem;
    transform: translateX(-50%);
  }
  &__order-icon {
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    align-items: center;
  }
  &__order {
    position: relative;
    bottom: .0625rem;
    width: 100%;
    letter-spacing: .03125rem;
    color: #fff;
    font-size: 1.375rem;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: .873;
    text-align: center;
  }
  &__content {
    padding-bottom: 2.9rem;
  }
  &__image-wrap {
    height: 13.7rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: .375rem;

    &_bottom-padding {
      padding-bottom: 1rem;
    }
  }
  &__image {
    max-width: 100%;
    max-height: 100%;
  }
  &__text-content {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  &__title {
    font-size: 1.125rem;
    letter-spacing: .02em;
    line-height: 1.25;
    margin-bottom: .94rem;
    text-align: center;
    font-weight: 600;
  }
  &__text {
    text-align: center;
    line-height: 1.2;
    color: rgba($color: #000, $alpha: .6);
    letter-spacing: .02em;
  }

  @media (max-width: 1330px) {
    max-width: none;
    width: 21.25rem;
  }
}
