.top-level-buttons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  > * {
    margin-bottom: .3125rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-height: 250px) {
    transform: none;
    top: 16vh;
  }
  @media (max-width: 1785px) {
    display: none;
  }
}

.top-level-button {
  display: block;
  background-color: #fff;
  border-top-left-radius: .625rem;
  border-bottom-left-radius: .625rem;
  transition: background-color .2s;
  cursor: pointer;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .813rem;
    padding-bottom: .813rem;
    padding-left: 1.0625rem;
    padding-right: .8125rem;
    
    &.without-icon {
      padding-top: 1.25rem;
      padding-bottom: 1.06rem;
      padding-left: .8125rem;
    }
    &.without-text {
      width: 3.375rem;
      height: 3.375rem;
    }
  }
  &__text {
    font-size: .875rem;
    line-height: 1.11;
    font-weight: 600;
    margin-right: 1rem;
  }
  &__icon {
    transform-origin: center;
    transition: transform .2s;
  }

  &:hover, &:focus {
    background-color: #f0f0f0;
  }
  &:hover &, &:focus & {
    &__icon {
      transform: scale(.9);
    }
  }
}